#search-results {
	float: right;
	width: 380px;
	margin-top: 10px;
	background-color: #DFDFDF;
	padding: 5px;
	display: none;
	position: relative;
	right: 10px;
}
#divclosesearch {
	right: 0px;
	top: 0px;
	position: absolute;
	z-index: 2;
}
#prevButton, #nextButton, .searchResult {
	cursor: pointer;
}
#divmore {
	text-align: center;
	height: auto;
	width: 380px;
	position: relative;
	z-index: 1;
}
.search-result {
	overflow: hidden;
	position: relative;
	float: left;
	height: 90px;
	width: 120px;
	margin: 1px;
	z-index: 2;
}