#tablePlaylist {
	width: 100%;
}

#tablePlaylistBody tr:hover{
	background:#555;
} 

#tablePlaylistBody td {
	padding:3px;
	border:solid #666 3px;
} 

.active{
	color:#000; 
	background:#D1E1FA;
} 

.playlist-thumbnail {
	padding:0px;
	width:45px;
}

.playlist-thumbnail a {
	position:relative;
}

.playlist-thumbnail img:first-child{
	width:45px;
}

.playlist-thumbnail img:last-child{
	width:16;
	position:absolute;
	right:0px;
	bottom:0px;
}

.playlist-title {
	cursor:pointer;
	width:auto;
	word-break:break-all;
}

.playlist-title div {
	overflow:hidden;
}

.playlist-duration {
	text-align:right;
	width:100px;
}

.playlist-controls {
	width:15px;
}